#header {
    border-bottom: 1px solid #fff;
}

#image {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 15px;
}

#subTitle {
    font-family: monospace;
    font-size: 1.5vw;
    border-bottom: 1px solid #fff;

}

#subSubText {
    font-size: 1vw;
}

#directory {
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid #fff;
    border-radius: 25px;
    margin-top: 50px;
}

#anim {
    height: 33px;
    overflow: hidden;
    transition: all .33s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 24px;
}

#anim:hover #highlight {
    background: #FFFFFF;
    background: linear-gradient(to right, #001eff 0%, #00bbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#highlight {
    background: #FFFFFF;
    background: linear-gradient(to right, #001eff 0%, #00bbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topTitle {
    background: #FFFFFF;
    background: linear-gradient(to right, #001eff 0%, #00bbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-btn label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    z-index: 10;
}

#accordion {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2vw;
}

#name {
    font-size: 2vw;
}

#location {
    font-size: 2vw;
}

#toggle {
    font-size: 2vw;
}

@media only screen and (max-width: 600px) {

    #directory {
        margin-left: 5%;
        margin-right: 5%;
    }

    #name {
        font-size: 1.5vw;
    }
    
    #location {
        font-size: 1.5vw;
    }
    #toggle {
        font-size: 1.5vw;
    }
}


